.logement {

    /* On écrase la valeur définie dans le composant Dropdown */
    .dropdownText {
        font-size: clamp(12px, 1.4516vw, 18px);
        line-height: 1.5em;
  }
}
.logementHeader {
    margin-bottom: 24px;
}

.logementInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logementDescription, .logementEquipments {
    width: 46.98%;
}

@media screen and (max-width: $screen-sm) {
    .logementInfo {
        flex-direction: column;
    }

    .logementDescription, .logementEquipments {
        width: 100%;
    }
}